<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>
      Click here to verify your email ...! (Hãy bấm vào nút verify bên dưới
      để xác thực email)
    </h3>
    <div style="width: 100%; margin-left: 45%;">
      <button
        style="
          width: 100px;
          height: 50px;
          background-color: #fcd535;
          border: none;
        "
      >
        <a
          style="text-decoration: none; color: black;"
          href="{{host}}/api/v1/auth/verify/{{userId}}/{{token}}"
          >{{text}}</a
        >
      </button>
    </div>
  </body>
</html>
